@media (min-width: $mobile_width) {
  .additional__wrapper {
    padding: 0 20px 35px;
  }

  .additional__product__list {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .additional__product__card {
    padding: 13px 0 19px;
    border-top: 1px solid $special_grey;
  }

  .additional__product__card:last-child {
    border-bottom: 1px solid $special_grey;
  }

  .additional__product__header {
    position: relative;
    padding: 25px 20px 36px;
  }

  .additional__title {
    width: 247px;
    font-family: $oswald_reg;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    background-color: #ffffff;
  }

  .additional__product__header::after {
    position: absolute;
    content: "";
    width: 90%;
    top: 45%;
    right: 0;
    border: 2px solid $basic_green;
    z-index: -1;
  }

  .additional__product__title {
    margin-bottom: 13px;

    font-family: $oswald_reg;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: $special_dark-grey-2
  }

  .additional__product__info__table {
    width: 100%;
    margin-bottom: 15px;

    font-family: $lato_reg;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: $special_dark-grey;
  }

  .additional__product__table__row {
    display: flex;
    justify-content: space-between;
  }

  .additional__gift {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .additional__gift--background {
    width: 100%;
    height: 289px;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("/img/gift-background-mobile.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  .additional__gift__icon__container {
    margin-top: 58px;
    margin-bottom: 48px;
    width: 78px;
    height: 80px;
    background-image: url("/img/icon_gift.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .additional__gift__text {
    width: 161px;
    margin: 0;

    font-family: $lato_reg;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $basic_white;
    text-align: center;
  }
}

@media (min-width: $tablet_width) {
  .additional__wrapper {
    padding: 0 30px;
    margin-bottom: 76px;
  }

  .additional__product__header {
    margin-bottom: 44px;
  }

  .additional__product__header::after {
    width: 100%;
  }

  .additional__title {
    width: 412px;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
  }

  .additional__product__list {
    margin-bottom: 69px;
  }

  .additional__product__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 26px 38px;
    border: 1px solid $special_grey;
  }

  .additional__product__info__table {
    width: auto;
  }

  .additional__product__table__row__data:not(:last-child) {
    margin-right: 49px;
  }

  .additional__gift {
    flex-direction: row;
    align-items: center;
  }

  .additional__gift--background {
    height: 200px;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("/img/gift-background-tablet.png");
  }

  .additional__gift__icon__container {
    margin-left: 77px;
    margin-right: auto;
  }

  .additional__gift__text {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }


}


@media (min-width: $desktop_width) {
  .additional__wrapper {
    display: flex;
    margin-bottom: 85px;
    padding: 0 110px;
    justify-content: space-between;
    align-items: center;
  }

  .additional__product__header {
    margin-bottom: 44px;
    padding: 25px 70px 36px;
  }

  .additional__product__list {
    width: 896px;
    margin-bottom: 0;
  }

  .additional__product__card {
    padding: 17px 0;
    align-items: center;
    border-left: none;
    border-right: none;
    border-bottom: none;
  }

  .additional__product__title {
    margin-right: auto;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 20px;
  }

  .additional__product__info__table {
    width: 285px;
    margin-right: 40px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 20px;
  }

  .additional__product__table__row {
    justify-content: space-between;
  }

  .additional__product__table__row__data {
    margin: 0;
  }

  .button--additional-buy-product {
    width: 244px;
    padding: 8px 26px;
  }

  .additional__gift {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .additional__gift--background {
    width: 245px;
    height: 289px;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("/img/gift-background-mobile.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  .additional__gift__icon__container {
    margin-top: 58px;
    margin-bottom: 48px;
    margin-left: 0;
    margin-right: 0;
    width: 78px;
    height: 80px;
    background-image: url("/img/icon_gift.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .additional__gift__text {
    width: 161px;
    margin: 0;

    font-family: $lato_reg;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $basic_white;
    text-align: center;
  }
}
