@media (min-width: $mobile_width) {
  .catalog__wrapper {
    padding: 0;
  }

  .catalog__header {
    padding: 27px 20px 41px;
    border-top: 1px solid $special_grey-2;
  }

  .title--catalog {
    font-family: $oswald_reg;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
  }

  .catalog__list__item {
    border-top: 1px solid $special_grey-2;
  }

  .product__card {
    padding: 19px 20px 25px;
  }

  .product__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 13px;
  }

  .product__image__container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 84px;
    height: 100px;
  }

  .product__image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }


  .product__info__title {
    width: 60%;
    margin: 0;
    margin-bottom: 14px;

    font-family: $oswald_reg;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $special_dark-grey-2;
    text-transform: uppercase;
  }

  .product__info__table {
    width: 100%;
  }

  .product__info__table,
  .product__info__table__row__title {
    font-family: $lato_reg;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $special_dark-grey;
  }

  .product__info__table__row {
    display: flex;
    justify-content: space-between;
  }

  .show__more__card {
    padding: 25px 20px;
  }

  .button--plus {
    margin: 0 auto;
    margin-bottom: 23px;
    width: 30px;
    height: 30px;
    background-image: url("../img/plus.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .show__more__card__title {
    margin-bottom: 8px;

    font-family: $oswald_reg;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #111111;
    text-align: center;
    text-transform: uppercase;
  }

  .show__more__subtitle {
    margin: 0;
    margin-bottom: 21px;

    font-family: $lato_reg;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $special_dark-grey;
    text-align: center;
  }

  .button--show-more {
    padding: 10px 94px;
    color: $special_dark-grey;
    text-align: center;
    background-color: $basic_grey;
  }
}


@media (min-width: $tablet_width) {
  .catalog__wrapper {
    margin-bottom: 68px;
    padding: 0 30px;
  }

  .catalog__header {
    margin-top: 64px;
    padding: 0;
    border: none;
  }

  .title--catalog {
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
  }

  .catalog__list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 142px 60px;
    margin-top: 164px;
    justify-content: space-between;
  }

  .catalog__list__item {
    border: none
  }

  .product__card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 324px;
    height: 430px;
    padding: 36px;
    background-color: $basic_grey;
    box-sizing: border-box;
  }

  .product__container {
    position: absolute;
    width: 252px;
    flex-direction: column;
    top: -77px;
  }

  .product__image__container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 200px;
    margin-bottom: 34px;
  }

  .product__info {
    width: 100%;
    margin-bottom: 33px;
  }

  .product__info__title {
    width: 140px;
    margin: 0 auto;
    margin-bottom: 21px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .button--buy-product {
    padding: 9px 93px;
  }

  .product__info__table,
  .product__info__table__row__title {
    font-size: 16px;
    line-height: 16px;
  }

  .product__info__table__row {
    padding-bottom: 8px;
    margin-bottom: 5px;
    border-bottom: 1px solid $special_grey;
  }

  .show__more__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 324px;
    height: 430px;
    padding: 36px;
    border: 2px solid $basic_grey;
    box-sizing: border-box;
  }

  .button--plus {
    width: 60px;
    height: 60px;
    margin: 0;
    margin-bottom: 49px;
    background-size: contain;
  }

  .show__more__card__title {
    width: 134px;
    margin-bottom: 23px;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
  }

  .show__more__subtitle {
    width: 165px;
    margin-bottom: 87px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }

  .button--show-more {
    padding: 10px 77px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

}


@media (min-width: $desktop_width) {
  .catalog__wrapper {
    padding: 0;
  }

  .catalog__list {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 144px 80px;
  }

  .product__card {
    width: 245px;
  }

  .product__container {
    width: 180px;
  }

  .product__image__container {
    height: 196px;
  }

  .button--buy-product {
    padding: 10px 53px;
  }

  .show__more__card {
    width: 245px;
    justify-content: space-between;
  }

  .button--show-more {
    padding: 10px 39px;
  }


}
