.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.page__body {
  position: relative;
  margin: 0;
  overflow-x: hidden;
}

.title {
  margin: 0;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  color: inherit;
  text-decoration: none;
}

.label {
  position: relative;
}

.input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.input--checkbox,
.input--radio {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}


.checkbox-span {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 1px solid $special_grey;
  background-color: transparent;

  @media (min-width: $mobile_width) {
    width: 30px;
    height: 30px;
  }

  @media (min-width: $tablet_width) {
    width: 40px;
    height: 40px;
  }
}

.radio-span {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 1px solid $special_grey;
  border-radius: 50%;
  background-color: transparent;

  @media (min-width: $mobile_width) {
    width: 30px;
    height: 30px;
  }

  @media (min-width: $tablet_width) {
    width: 40px;
    height: 40px;
  }
}



.input--checkbox:checked + .checkbox-span {
  background-image:
  url("data:image/svg+xml,%3Csvg width='24' height='19' viewBox='0 0 24 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 15.499L1.4 6.90101L0 8.48485L9 18.6667L24 1.69697L22.6 0L9 15.499Z' fill='%2368B738'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.input--radio:checked + .radio-span {
  background-image:
  url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9' cy='9' r='9' fill='%2368B738'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}





.input[type="number"]::-webkit-outer-spin-button,
.input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input[type='number'],
.input[type="number"]:hover,
.input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

.textarea {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

.description {
  margin: 0;

  font-family: $lato_reg;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.subtitle {
  margin: 0;
}

.wrapper {
  width: 100%;
  min-width: 320px;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;

  @media (min-width: $tablet_width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop_width) {
    padding: 0;
  }
}




