.catalog--fonts {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.catalog__title {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.product-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222
}

.characteristic-title,
.characteristic-descript {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.button--choise-product {
  color: #ffffff;
  background-color: #68B738;
}
