.gift--background {
  background-color: rgba(104, 183, 56, 0.85);
}

.gift__text {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
