.how-work__info__header-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #000000;
}

.how-work__info__description__list-item-text {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
