.main-footer {
  background-color: $basic_grey;
}

.main-footer__wrapper {
  padding: 20px 20px;

  @media (min-width: $tablet_width) {
    padding: 55px 0;
  }

  @media (min-width: $desktop_width) {
    width: 100%;
    padding: 60px 0;
  }
}

.main-footer__list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet_width) {
    flex-direction: row;
  }
}

.main-footer__list__item {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 0;

  &:not(:last-child) {
    border-bottom: 1px solid #D9D9D9;
  }

  @media (min-width: $tablet_width) {
    padding: 0;

    &:not(:last-child) {
      border: none;
    }
  }

  @media (min-width: $desktop_width) {
    display: flex;
  }
}

.main-footer__list__item--logo {
  @media (min-width: $desktop_width) {
    justify-content: flex-start;
  }
}


.main-footer__logo {
  width: 128px;
  height: 24px;
  background-image: url("../img/logo2.png");
  background-repeat: no-repeat;
  background-position: center;
}

.social-list {
  display: flex;
  width: 132px;
  justify-content: space-between;
}

.html-academy-link {
  font-family: $lato_reg;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $special_dark-grey;
}

.html-academy-links {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet_width) {
    width: 168px;
  }
}

.main-footer__list__item--html-academy {
  @media (min-width: $desktop_width) {
    justify-content: flex-end;
  }
}

