// Fonts

$oswald_reg: "Oswald Regular 400", "Arial", sans-serif;
$oswald_med: "Oswald Medium 500", "Arial", sans-serif;
$lato_reg: "Lato Regular 400", "Arial", sans-serif;

// Colors

$basic_white: #ffffff;
$basic_green: #68B738;
$basic_green-2: #5EAA2F;
$basic_grey: #F2F2F2;
$special_grey: #CDCDCD;
$special_grey-2: #EBEBEB;
$special_grey-3: #666666;
$special_dark-grey: #444444;
$special_dark-grey-2: #222222;
$status_error: #FF8282;

// Adaprtive width

$mobile_width: 320px;
$tablet_width: 768px;
$desktop_width: 1440px;
