.choise-programm__wrapper {
  @media (min-width: $tablet_width) {

  }

  @media (min-width: $desktop_width) {
    padding: 0;
  }
}

.choise-programm__header {
  @media (min-width: $tablet_width) {
    margin-top: 65px;
    padding: 0;
  }

  @media (min-width: $desktop_width) {

  }
}

.choise-programm__title {
  margin-bottom: 37px;

  font-family: $oswald_reg;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet_width) {
    margin-bottom: 54px;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop_width) {

  }
}

.choise-programm__subtext {
  width: 226px;
  margin-bottom: 39px;

  font-family: $oswald_reg;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet_width) {
    width: 323px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop_width) {

  }
}

.choise-programm__ancets__container {
  @media (min-width: $tablet_width) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 80px;
  }

  @media (min-width: $desktop_width) {

  }
}

.choise-programm__ancets {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #D9D9D9;

  @media (min-width: $tablet_width) {
    border: none;
  }

  @media (min-width: $desktop_width) {
    flex-grow: 1;
    padding: 0;

    &:not(:last-child) {
      margin-right: 0;
    }
  }
}

.choise-programm__label {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  color: $special_dark-grey;

  @media (min-width: $tablet_width) {

  }

  @media (min-width: $desktop_width) {

  }
}

.choise-programm__label--desktop {
  @media (min-width: $desktop_width) {
    flex-grow: 1;
  }
}

.choise-programm__label__text {
  margin-right: 13px;

  font-family: $oswald_reg;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: inherit;
  text-transform: uppercase;

  @media (min-width: $tablet_width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop_width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.choise-programm__label__text--checkbox-text,
.choise-programm__label__text--radio {
  margin-left: 45px;

  @media (min-width: $tablet_width) {
    margin-left: 60px;
  }

  @media (min-width: $desktop_width) {

  }
}

.choise-programm__input {
  flex: 1;
  padding: 14px 20px;

  font-family: $oswald_reg;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $special_dark-grey;
  text-transform: uppercase;

  border: 1px solid #E7E7E7;

  @media (min-width: $tablet_width) {
    padding: 11px 20px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop_width) {
    padding: 11px 20px;
  }
}

.input--email::placeholder {
  background-image:
  url("data:image/svg+xml,%3Csvg width='19' height='14' viewBox='0 0 19 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='0.65' y1='6' x2='0.65' y2='14' stroke='%23222222' stroke-width='1.3'/%3E%3Cline x1='17.65' y1='6' x2='17.65' y2='14' stroke='%23222222' stroke-width='1.3'/%3E%3Cline y1='13.35' x2='18' y2='13.35' stroke='%23222222' stroke-width='1.3'/%3E%3Cline y1='1.35' x2='18' y2='1.35' stroke='%23222222' stroke-width='1.3'/%3E%3Cpath d='M17.35 3.1821L9.00002 9.67654L0.65 3.18209V1.65H3.5L9.00002 1.65H14H17.35V3.1821Z' stroke='%23222222' stroke-width='1.3'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 95% 50%;

  @media (min-width: $tablet_width) {

  }

  @media (min-width: $desktop_width) {

  }
}

.input--tel::placeholder {
  background-image:
  url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 10H18.5M18.5 10L16 7.5M18.5 10L16 12.5M8.5 2.5V7.5H5.5V12.5H8.5V17.5H6C4.5 17.5 3.5 16.5 3.5 15V5C3.5 3.5 4.5 2.5 6 2.5H8.5Z' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 95% 50%;

  @media (min-width: $tablet_width) {

  }

  @media (min-width: $desktop_width) {

  }
}

.choise-programm__ancets__radio-inputs {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;

  @media (min-width: $tablet_width) {
    // margin-top: 57px;
    padding: 25px 28px;
    border: 1px solid #E7E7E7;
  }

  @media (min-width: $desktop_width) {
    margin: 0;
    justify-content: center;
  }
}

.choise-programm__label--radio:not(:last-child) {
  margin-bottom: 23px;

  @media (min-width: $tablet_width) {

  }

  @media (min-width: $desktop_width) {

  }
}

.choise-programm__label--radio:last-child {
  margin-bottom: 0;

  @media (min-width: $tablet_width) {

  }

  @media (min-width: $desktop_width) {

  }
}



.choise-programm__label--radio {
  color: $special_dark-grey-2;

  @media (min-width: $tablet_width) {

  }

  @media (min-width: $desktop_width) {

  }
}

.choise-programm__input--radio {
  flex: none;
  margin-right: 13px;

  @media (min-width: $tablet_width) {

  }

  @media (min-width: $desktop_width) {

  }
}

.choise-programm__contact-details {
  position: relative;

  @media (min-width: $tablet_width) {
    padding: 0;

    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 46px;
      left: -300px;
      width: 3000px;
      height: 2px;
      background-color: $basic_green;
    }
  }

  @media (min-width: $desktop_width) {

  }
}

.contact-details__subtitle {
  position: relative;
  margin-top: 26px;
  margin-bottom: 25px;
  font-family: $oswald_reg;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  background-color: $basic_white;

  @media (min-width: $tablet_width) {
    display: inline-block;
    padding: 0 40px;
    margin-left: -40px;
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 36px;
    background-color: $basic_white;
  }

  @media (min-width: $desktop_width) {

  }
}

.contact-details__inputs {
  @media (min-width: $desktop_width) {
    display: flex;
  }
}


.choise-programm__comments {
  position: relative;

  @media (min-width: $tablet_width) {
    padding: 0;
  }

  @media (min-width: $desktop_width) {

  }
}

.choise-programm__textarea {
  width: 100%;
  padding: 10px 13px 0;

  font-family: $oswald_reg;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $special_dark-grey;
  text-transform: uppercase;

  border: 1px solid #E7E7E7;

  @media (min-width: $tablet_width) {

  }

  @media (min-width: $desktop_width) {

  }
}

.choise-programm__additional {
  position: relative;

  @media (min-width: $tablet_width) {
    padding: 0;
  }

  @media (min-width: $desktop_width) {
    margin-bottom: 82px;
  }
}

.additional__inputs {
  @media (min-width: $tablet_width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
    align-items: center;
  }

  @media (min-width: $desktop_width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
  }

}

.choise-programm__label--checkbox {
  color: #000000;

  @media (min-width: $tablet_width) {
    margin: 0;
  }

  @media (min-width: $desktop_width) {

  }
}

.choise-programm__input--checkbox {
  flex: none;
  margin-right: 16px;

  @media (min-width: $tablet_width) {

  }

  @media (min-width: $desktop_width) {

  }
}

.choise-programm__additional {
  @media (min-width: $tablet_width) {

  }

  @media (min-width: $desktop_width) {

  }
}

.button--submit {
  width: 280px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 21px;

  @media (min-width: $tablet_width) {

  }

  @media (min-width: $desktop_width) {
    grid-column: 1 / 3;
    margin: 0;
  }
}

.form-warning {
  margin: 0;
  font-family: $lato_reg;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-align: center;

  @media (min-width: $tablet_width) {

  }

  @media (min-width: $desktop_width) {
    text-align: left;

  }
}

.choise-programm__label--desktop:first-child {
  @media (min-width: $desktop_width) {
    margin-right: 78px;
  }
}

