.features__wrapper {
  padding-bottom: 40px;

  @media (min-width: $tablet_width) {

  }

  @media (min-width: $desktop_width) {
    margin-bottom: 71px;
  }
}

.title--features {
  margin-bottom: 40px;

  font-family: $oswald_reg;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;

  @media (min-width: $tablet_width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop_width) {

  }
}

.features__list {
  @media (min-width: $tablet_width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 36px
  }

  @media (min-width: $desktop_width) {
    display: flex;
    justify-content: space-between;
  }
}

.features__list__item {
  display: flex;
  align-items: center;

  margin-bottom: 20px;

  @media (min-width: $tablet_width) {
    position: relative;
    display: flex;
    width: 230px;
    flex-direction: column;
    align-items: flex-start;
  }

  @media (min-width: $desktop_width) {
    margin-bottom: 0;
  }
}

.features__list__item__description {
  @media (min-width: $tablet_width) {
    margin-bottom: 57px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop_width) {

  }
}

.features__list__item__icon__container {
  display: flex;
  width: 152px;
  margin-right: 20px;

  @media (min-width: $tablet_width) {
    margin-right: 0;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop_width) {
    margin-top: 40px;
  }
}

.features__list__item__icon {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;

  @media (min-width: $tablet_width) {

  }

  @media (min-width: $desktop_width) {

  }
}


.features__list__item__number {
  display: none;

  @media (min-width: $tablet_width) {
    position: absolute;
    display: block;
    top: 50%;
    right: 0;
    transform: translateY(-50%);


    font-family: $oswald_reg;
    font-style: normal;
    font-weight: 400;
    font-size: 280px;
    line-height: 280px;
    color: $basic_grey;

    z-index: -1;
  }

  @media (min-width: $desktop_width) {

  }
}

