@media (min-width: $mobile_width) {
  .promo__wrapper {
    position: relative;
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .promo__title__container {
    position: relative;
  }

  .button--promo {
    position: absolute;
    top: 450px;
    left: 0;
  }

  .promo__background {
    position: absolute;
    width: 100%;
    height: 302px;
    top: 0;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("/img/promo-background.png");
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
  }


  .title--promo {
    margin: 27px 0 25px;

    font-family: $oswald_reg;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    color: $basic_white;

    text-align: center;
  }

  .promo__slogan {
    margin: 0;
    margin-bottom: 29px;

    font-family: $oswald_reg;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: $basic_white;

    text-align: center;
    text-transform: uppercase;
  }

  .promo__image {
    width: 280px;
    height: 280px;
    background-image: url("/img/mobile-promo-image.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media (min-width: $tablet_width) {
  .promo__wrapper {
    margin: 0;
    align-items: normal;
    flex-direction: column;

  }

  .promo__title__container {
    margin: 62px 0 20px 91px;
  }

  .title--promo {
    margin: 0 0 41px 0;
    width: 416px;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    text-align:unset;
  }

  .promo__slogan {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    text-transform: uppercase;
    text-align: unset;
  }

  .promo__background {
    display: none;
  }

  .promo__image {
    width: 709px;
    height: 609px;
    background-image: url("/img/tablet-promo-image.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .button--promo {
    position: relative;
    width: 244px;
    padding: 14px 26px;
    top: auto;
    left: auto;

    font-size: 20px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
  }
}


@media (min-width: $desktop_width) {
  .promo__wrapper {
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 267px;
  }

  .title--promo {

  }

  .promo__slogan {
    margin-bottom: 52px;
  }

  .button--promo {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
  }

  .promo__background {
    display: block;
    width: 720px;
    height: 694px;
    top: -46%;
    right: 0;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("/img/index-background-desktop.png");
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
  }

  .promo__image {
    position: absolute;
    width: 552px;
    height: 500px;
    top: 0;
    right: 23%;
    background-image: url("/img/desktop-promo-image.png");
  }

}

